In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#read data from excel
df = pd.read_excel('data.xlsx')

In [3]:
df

,Kota,MAKANAN DAN MINUMAN JADI,ROTI TAWAR,ROTI MANIS DAN LAINNYA,KUE KERING BISKUIT SEMPRONG,KUE BASAH,MAKANAN GORENG,BUBUR KACANG HIJAU,GADO GADO KETOPRAK,NASI CAMPUR RAMES,...,BUBUR AYAM,SIOMAY BATAGO,MAKANAN JADI LAINNYA,AIR KEMASAN,AIR GALON,AIR TEH KEMASAN DAN BERSODA,SARI BUAH KEMASAN MINUMAN KESEHATAN,MINUMAN JADI KOPI SUSU,ES KRIM,ES LAINNYA
0,NaN,2021,2021,2021,2021,2021,2021,2021,2021,2021,...,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021
1,Simeulue,23744,46,348,411,3903,1877,154,54,1277,...,15,164,94,137,1587,78,313,4114,396,286
2,Aceh Singkil,26997,1077,1093,566,1309,2966,558,611,632,...,54,270,201,254,1134,118,145,2253,876,356
3,Aceh Selatan,38327,166,1021,710,3243,2531,329,256,8938,...,11,449,98,237,476,329,425,4892,862,335
4,Aceh Tenggara,28338,254,761,514,1710,2488,363,443,1234,...,110,1478,172,466,546,312,613,3634,822,414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,Puncak,8898,-,-,755,115,6958,-,-,-,...,-,-,-,49,436,-,-,-,-,-
511,Dogiyai,4992,92,486,133,124,645,22,-,1592,...,-,-,11,74,3,611,140,679,-,-
512,Intan Jaya,1468,153,9,7,5,542,-,-,282,...,-,-,-,124,-,188,-,9,-,15
513,Deiyai,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
514,Kota Jayapura,56616,795,1165,912,3382,1873,560,2051,10783,...,663,491,3543,2021,2563,1114,678,2301,648,981

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 32 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Kota                                 514 non-null    object
 1   MAKANAN DAN MINUMAN JADI             515 non-null    object
 2   ROTI TAWAR                           515 non-null    object
 3   ROTI MANIS DAN LAINNYA               515 non-null    object
 4   KUE KERING BISKUIT SEMPRONG          515 non-null    object
 5   KUE BASAH                            515 non-null    object
 6   MAKANAN GORENG                       515 non-null    object
 7   BUBUR KACANG HIJAU                   515 non-null    object
 8   GADO GADO KETOPRAK                   515 non-null    object
 9   NASI CAMPUR RAMES                    515 non-null    object
 10  NASI GORENG                          515 non-null    object
 11  NASI PUTIH                           515 non-null    object
 12  LONTONG KETUPAT SAYUR                515 non-null    object
 13  SOTO GULE SOP RAWON                  515 non-null    object
 14  SAYUR MATENG                         515 non-null    object
 15  SATE TONGSENG                        515 non-null    object
 16  MIE BAKSO REBUS GORENG               515 non-null    object
 17  MIE INSTAN                           515 non-null    object
 18  MAKANAN RINGAN ANAK ANAK             515 non-null    object
 19  IKAN MATANG                          515 non-null    object
 20  AYAM DAGING MATANG                   515 non-null    object
 21  DAGING OLAHAN SOSIS NUGGET           515 non-null    object
 22  BUBUR AYAM                           515 non-null    object
 23  SIOMAY BATAGO                        515 non-null    object
 24  MAKANAN JADI LAINNYA                 515 non-null    object
 25  AIR KEMASAN                          515 non-null    object
 26  AIR GALON                            515 non-null    object
 27  AIR TEH KEMASAN DAN BERSODA          515 non-null    object
 28  SARI BUAH KEMASAN MINUMAN KESEHATAN  515 non-null    object
 29  MINUMAN JADI KOPI SUSU               515 non-null    object
 30  ES KRIM                              515 non-null    object
 31  ES LAINNYA                           515 non-null    object
dtypes: object(32)
memory usage: 128.9+ KB

In [5]:
#data cleaning to replace "-" to 0 and replace object to float
df = df.replace("-",0)
df2 = df.iloc[:,1:32].astype(float)
#df.iloc[:,: ].replace("-",0,inplace=True)
#df.iloc[ df['MAKANAN DAN MINUMAN JADI'] == "-"].replace[]
df2

,MAKANAN DAN MINUMAN JADI,ROTI TAWAR,ROTI MANIS DAN LAINNYA,KUE KERING BISKUIT SEMPRONG,KUE BASAH,MAKANAN GORENG,BUBUR KACANG HIJAU,GADO GADO KETOPRAK,NASI CAMPUR RAMES,NASI GORENG,...,BUBUR AYAM,SIOMAY BATAGO,MAKANAN JADI LAINNYA,AIR KEMASAN,AIR GALON,AIR TEH KEMASAN DAN BERSODA,SARI BUAH KEMASAN MINUMAN KESEHATAN,MINUMAN JADI KOPI SUSU,ES KRIM,ES LAINNYA
0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,...,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0
1,23744.0,46.0,348.0,411.0,3903.0,1877.0,154.0,54.0,1277.0,693.0,...,15.0,164.0,94.0,137.0,1587.0,78.0,313.0,4114.0,396.0,286.0
2,26997.0,1077.0,1093.0,566.0,1309.0,2966.0,558.0,611.0,632.0,2166.0,...,54.0,270.0,201.0,254.0,1134.0,118.0,145.0,2253.0,876.0,356.0
3,38327.0,166.0,1021.0,710.0,3243.0,2531.0,329.0,256.0,8938.0,991.0,...,11.0,449.0,98.0,237.0,476.0,329.0,425.0,4892.0,862.0,335.0
4,28338.0,254.0,761.0,514.0,1710.0,2488.0,363.0,443.0,1234.0,1525.0,...,110.0,1478.0,172.0,466.0,546.0,312.0,613.0,3634.0,822.0,414.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,8898.0,0.0,0.0,755.0,115.0,6958.0,0.0,0.0,0.0,21.0,...,0.0,0.0,0.0,49.0,436.0,0.0,0.0,0.0,0.0,0.0
511,4992.0,92.0,486.0,133.0,124.0,645.0,22.0,0.0,1592.0,42.0,...,0.0,0.0,11.0,74.0,3.0,611.0,140.0,679.0,0.0,0.0
512,1468.0,153.0,9.0,7.0,5.0,542.0,0.0,0.0,282.0,13.0,...,0.0,0.0,0.0,124.0,0.0,188.0,0.0,9.0,0.0,15.0
513,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
514,56616.0,795.0,1165.0,912.0,3382.0,1873.0,560.0,2051.0,10783.0,4084.0,...,663.0,491.0,3543.0,2021.0,2563.0,1114.0,678.0,2301.0,648.0,981.0

In [6]:
#merge dataframe because in df2, column "kota" is not exist, and we create column Kota and we merge it
df3 = df['Kota']
df = pd.merge(df3,df2, left_index=True, right_index=True)
df

,Kota,MAKANAN DAN MINUMAN JADI,ROTI TAWAR,ROTI MANIS DAN LAINNYA,KUE KERING BISKUIT SEMPRONG,KUE BASAH,MAKANAN GORENG,BUBUR KACANG HIJAU,GADO GADO KETOPRAK,NASI CAMPUR RAMES,...,BUBUR AYAM,SIOMAY BATAGO,MAKANAN JADI LAINNYA,AIR KEMASAN,AIR GALON,AIR TEH KEMASAN DAN BERSODA,SARI BUAH KEMASAN MINUMAN KESEHATAN,MINUMAN JADI KOPI SUSU,ES KRIM,ES LAINNYA
0,NaN,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,...,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0
1,Simeulue,23744.0,46.0,348.0,411.0,3903.0,1877.0,154.0,54.0,1277.0,...,15.0,164.0,94.0,137.0,1587.0,78.0,313.0,4114.0,396.0,286.0
2,Aceh Singkil,26997.0,1077.0,1093.0,566.0,1309.0,2966.0,558.0,611.0,632.0,...,54.0,270.0,201.0,254.0,1134.0,118.0,145.0,2253.0,876.0,356.0
3,Aceh Selatan,38327.0,166.0,1021.0,710.0,3243.0,2531.0,329.0,256.0,8938.0,...,11.0,449.0,98.0,237.0,476.0,329.0,425.0,4892.0,862.0,335.0
4,Aceh Tenggara,28338.0,254.0,761.0,514.0,1710.0,2488.0,363.0,443.0,1234.0,...,110.0,1478.0,172.0,466.0,546.0,312.0,613.0,3634.0,822.0,414.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,Puncak,8898.0,0.0,0.0,755.0,115.0,6958.0,0.0,0.0,0.0,...,0.0,0.0,0.0,49.0,436.0,0.0,0.0,0.0,0.0,0.0
511,Dogiyai,4992.0,92.0,486.0,133.0,124.0,645.0,22.0,0.0,1592.0,...,0.0,0.0,11.0,74.0,3.0,611.0,140.0,679.0,0.0,0.0
512,Intan Jaya,1468.0,153.0,9.0,7.0,5.0,542.0,0.0,0.0,282.0,...,0.0,0.0,0.0,124.0,0.0,188.0,0.0,9.0,0.0,15.0
513,Deiyai,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
514,Kota Jayapura,56616.0,795.0,1165.0,912.0,3382.0,1873.0,560.0,2051.0,10783.0,...,663.0,491.0,3543.0,2021.0,2563.0,1114.0,678.0,2301.0,648.0,981.0

In [7]:
# we can see the data changed from object to float
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 32 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Kota                                 514 non-null    object
 1   MAKANAN DAN MINUMAN JADI             515 non-null    float64
 2   ROTI TAWAR                           515 non-null    float64
 3   ROTI MANIS DAN LAINNYA               515 non-null    float64
 4   KUE KERING BISKUIT SEMPRONG          515 non-null    float64
 5   KUE BASAH                            515 non-null    float64
 6   MAKANAN GORENG                       515 non-null    float64
 7   BUBUR KACANG HIJAU                   515 non-null    float64
 8   GADO GADO KETOPRAK                   515 non-null    float64
 9   NASI CAMPUR RAMES                    515 non-null    float64
 10  NASI GORENG                          515 non-null    float64
 11  NASI PUTIH                           515 non-null    float64
 12  LONTONG KETUPAT SAYUR                515 non-null    float64
 13  SOTO GULE SOP RAWON                  515 non-null    float64
 14  SAYUR MATENG                         515 non-null    float64
 15  SATE TONGSENG                        515 non-null    float64
 16  MIE BAKSO REBUS GORENG               515 non-null    float64
 17  MIE INSTAN                           515 non-null    float64
 18  MAKANAN RINGAN ANAK ANAK             515 non-null    float64
 19  IKAN MATANG                          515 non-null    float64
 20  AYAM DAGING MATANG                   515 non-null    float64
 21  DAGING OLAHAN SOSIS NUGGET           515 non-null    float64
 22  BUBUR AYAM                           515 non-null    float64
 23  SIOMAY BATAGO                        515 non-null    float64
 24  MAKANAN JADI LAINNYA                 515 non-null    float64
 25  AIR KEMASAN                          515 non-null    float64
 26  AIR GALON                            515 non-null    float64
 27  AIR TEH KEMASAN DAN BERSODA          515 non-null    float64
 28  SARI BUAH KEMASAN MINUMAN KESEHATAN  515 non-null    float64
 29  MINUMAN JADI KOPI SUSU               515 non-null    float64
 30  ES KRIM                              515 non-null    float64
 31  ES LAINNYA                           515 non-null    float64
dtypes: float64(31), object(1)
memory usage: 128.9+ KB

In [8]:
df.describe()

,MAKANAN DAN MINUMAN JADI,ROTI TAWAR,ROTI MANIS DAN LAINNYA,KUE KERING BISKUIT SEMPRONG,KUE BASAH,MAKANAN GORENG,BUBUR KACANG HIJAU,GADO GADO KETOPRAK,NASI CAMPUR RAMES,NASI GORENG,...,BUBUR AYAM,SIOMAY BATAGO,MAKANAN JADI LAINNYA,AIR KEMASAN,AIR GALON,AIR TEH KEMASAN DAN BERSODA,SARI BUAH KEMASAN MINUMAN KESEHATAN,MINUMAN JADI KOPI SUSU,ES KRIM,ES LAINNYA
count,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,...,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000
mean,38064.691262,363.112621,1602.466019,1227.448544,1776.710680,2273.176699,360.326214,929.570874,5177.551456,1473.722330,...,508.933981,720.930097,1081.033010,747.516505,1327.607767,510.215534,535.638835,2478.805825,681.794175,882.928155
std,17656.367805,304.503779,846.042343,719.900798,1087.788412,985.336930,329.544176,704.484811,3589.974555,1155.716672,...,890.807132,702.288701,916.963869,722.097222,1143.279724,389.191117,373.329636,1700.800248,387.519474,677.588762
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,26439.500000,153.000000,1045.000000,783.500000,1032.000000,1660.500000,140.500000,439.500000,2653.500000,617.500000,...,50.000000,172.500000,402.500000,296.500000,476.000000,244.500000,289.500000,1486.500000,420.500000,384.500000
50%,34662.000000,267.000000,1449.000000,1139.000000,1587.000000,2210.000000,262.000000,803.000000,4447.000000,1189.000000,...,171.000000,522.000000,830.000000,523.000000,1000.000000,414.000000,426.000000,2229.000000,681.000000,723.000000
75%,47774.500000,473.500000,1993.500000,1548.000000,2302.000000,2826.000000,476.500000,1258.000000,6580.000000,2054.000000,...,553.500000,1039.000000,1514.000000,946.000000,1839.500000,685.500000,694.000000,3131.500000,935.000000,1246.500000
max,107792.000000,2021.000000,4992.000000,8214.000000,6490.000000,11349.000000,2021.000000,4135.000000,19695.000000,6117.000000,...,6014.000000,4172.000000,5288.000000,5657.000000,6748.000000,2629.000000,2294.000000,16341.000000,2021.000000,3986.000000

#### df = float(df[df['MAKANAN DAN MINUMAN JADI']])

In [10]:
#check null column
df.dropna(inplace=True)
df.isna().sum()

Kota                                   0
MAKANAN DAN MINUMAN JADI               0
ROTI TAWAR                             0
ROTI MANIS DAN LAINNYA                 0
KUE KERING BISKUIT SEMPRONG            0
KUE BASAH                              0
MAKANAN GORENG                         0
BUBUR KACANG HIJAU                     0
GADO GADO KETOPRAK                     0
NASI CAMPUR RAMES                      0
NASI GORENG                            0
NASI PUTIH                             0
LONTONG KETUPAT SAYUR                  0
SOTO GULE SOP RAWON                    0
SAYUR MATENG                           0
SATE TONGSENG                          0
MIE BAKSO REBUS GORENG                 0
MIE INSTAN                             0
MAKANAN RINGAN ANAK ANAK               0
IKAN MATANG                            0
AYAM DAGING MATANG                     0
DAGING OLAHAN SOSIS NUGGET             0
BUBUR AYAM                             0
SIOMAY BATAGO                          0
MAKANAN JADI LAINNYA                   0
AIR KEMASAN                            0
AIR GALON                              0
AIR TEH KEMASAN DAN BERSODA            0
SARI BUAH KEMASAN MINUMAN KESEHATAN    0
MINUMAN JADI KOPI SUSU                 0
ES KRIM                                0
ES LAINNYA                             0
dtype: int64

In [11]:
df.head(5)

,Kota,MAKANAN DAN MINUMAN JADI,ROTI TAWAR,ROTI MANIS DAN LAINNYA,KUE KERING BISKUIT SEMPRONG,KUE BASAH,MAKANAN GORENG,BUBUR KACANG HIJAU,GADO GADO KETOPRAK,NASI CAMPUR RAMES,...,BUBUR AYAM,SIOMAY BATAGO,MAKANAN JADI LAINNYA,AIR KEMASAN,AIR GALON,AIR TEH KEMASAN DAN BERSODA,SARI BUAH KEMASAN MINUMAN KESEHATAN,MINUMAN JADI KOPI SUSU,ES KRIM,ES LAINNYA
1,Simeulue,23744.0,46.0,348.0,411.0,3903.0,1877.0,154.0,54.0,1277.0,...,15.0,164.0,94.0,137.0,1587.0,78.0,313.0,4114.0,396.0,286.0
2,Aceh Singkil,26997.0,1077.0,1093.0,566.0,1309.0,2966.0,558.0,611.0,632.0,...,54.0,270.0,201.0,254.0,1134.0,118.0,145.0,2253.0,876.0,356.0
3,Aceh Selatan,38327.0,166.0,1021.0,710.0,3243.0,2531.0,329.0,256.0,8938.0,...,11.0,449.0,98.0,237.0,476.0,329.0,425.0,4892.0,862.0,335.0
4,Aceh Tenggara,28338.0,254.0,761.0,514.0,1710.0,2488.0,363.0,443.0,1234.0,...,110.0,1478.0,172.0,466.0,546.0,312.0,613.0,3634.0,822.0,414.0
5,Aceh Timur,39395.0,330.0,790.0,549.0,2644.0,2625.0,929.0,227.0,4189.0,...,171.0,1062.0,269.0,645.0,748.0,506.0,366.0,7494.0,1166.0,258.0

In [27]:
# we'll count per category
jml_per_kategori = df.iloc[:,1:].sum(axis=0)
#jml_per_kategori = df.iloc[:,1:]
jml_per_kategori

MAKANAN DAN MINUMAN JADI               19601295.0
ROTI TAWAR                               184982.0
ROTI MANIS DAN LAINNYA                   823249.0
KUE KERING BISKUIT SEMPRONG              630115.0
KUE BASAH                                912985.0
MAKANAN GORENG                          1168665.0
BUBUR KACANG HIJAU                       183547.0
GADO GADO KETOPRAK                       476708.0
NASI CAMPUR RAMES                       2664418.0
NASI GORENG                              756946.0
NASI PUTIH                               424175.0
LONTONG KETUPAT SAYUR                    479143.0
SOTO GULE SOP RAWON                      510245.0
SAYUR MATENG                             485703.0
SATE TONGSENG                            408725.0
MIE BAKSO REBUS GORENG                  1810289.0
MIE INSTAN                               160754.0
MAKANAN RINGAN ANAK ANAK                1052657.0
IKAN MATANG                              446502.0
AYAM DAGING MATANG                       733903.0
DAGING OLAHAN SOSIS NUGGET               333447.0
BUBUR AYAM                               260080.0
SIOMAY BATAGO                            369258.0
MAKANAN JADI LAINNYA                     554711.0
AIR KEMASAN                              382950.0
AIR GALON                                681697.0
AIR TEH KEMASAN DAN BERSODA              260740.0
SARI BUAH KEMASAN MINUMAN KESEHATAN      273833.0
MINUMAN JADI KOPI SUSU                  1274564.0
ES KRIM                                  349103.0
ES LAINNYA                               452687.0
dtype: float64

In [29]:
jml_per_kategori.info()

<class 'pandas.core.series.Series'>
Index: 31 entries, MAKANAN DAN MINUMAN JADI to ES LAINNYA
Series name: None
Non-Null Count  Dtype
--------------  -----
31 non-null     float64
dtypes: float64(1)
memory usage: 1.5+ KB

In [ ]:
X_kategory = np.array(jml_per_kategori)
y_kategory = np.array()

In [13]:
jml_per_city = df.sum(axis=1)
jml_per_city

C:\Users\yodia\AppData\Local\Temp\ipykernel_2832\296316822.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  jml_per_city = df.sum(axis=1)

1       47490.0
2       53962.0
3       76655.0
4       56115.0
5       78792.0
         ...
510     17796.0
511      9984.0
512      2936.0
513         0.0
514    112702.0
Length: 514, dtype: float64

In [14]:
#we'll count per city, first we'll transpose the data
df4= df.T
headers = df4.iloc[0]
df4 = pd.DataFrame(df4.values[1:],columns=headers)
jml_per_city = df4.sum(axis=0)
jml_per_city

Kota
Simeulue          47490.0
Aceh Singkil      53962.0
Aceh Selatan      76655.0
Aceh Tenggara     56115.0
Aceh Timur        78792.0
                   ...
Puncak            17796.0
Dogiyai            9984.0
Intan Jaya         2936.0
Deiyai                0.0
Kota Jayapura    112702.0
Length: 514, dtype: object

In [15]:
jml_per_city.info()

<class 'pandas.core.series.Series'>
Index: 514 entries, Simeulue to Kota Jayapura
Series name: None
Non-Null Count  Dtype
--------------  -----
514 non-null    object
dtypes: object(1)
memory usage: 24.2+ KB

In [16]:
df3 = minmax

NameError: name 'minmax' is not defined

In [ ]:
df3

In [ ]:
KMeans(n_clusters=2).fit(df).score(df3)